.oi {
    background-color: yellow;
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border: yellow solid 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .oi:hover, .oi:focus {
    background-color: yellow;
  }
  
  #dropdown{
    background-color: yellow;
    font-size: 15px;
  }

  .dropdown {
    border-left: 0;
    position: relative;
    display: inline-block;
  }

  .Titulo{
    background-color: yellow;
    position: relative;
    font-size: 50px;
    text-align: center;
    border-radius: 25px;
    }

  .pesquisa{
    padding: 16px;
    font-size: 16px;
    width: 50%;
    border: yellow solid 5px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    }

  .geral{
      text-align: center;
  }

  .imagem{
      text-align: center;
  }